# ignore .Rproj
.Rproj
.Rproj.user

# ignore .Rhistory
.Rhistory

# ignore output_folders
1_setupsdmdata_tests/setupsdmdata
2_buffer_and_randomPoints/buffer_res
3_projection/projection
3_projection/projection_files
4_euclidean_distance_tests/eucl

# ignore html outputs
*.html

